<form method="POST">
  <label for="input-name">Your Name</label>
  <input id="input-name" type="text" placeholder="Your Name" name="name" />

  <label for="input-password">Password</label>
  <input
    id="input-password"
    type="password"
    placeholder="A secure password"
    name="password"
  />

  <button>Sign up</button>
</form>